/* -------------------------------------------- */
@page {
    // size: portrait;
    margin: 1cm;
    marks: none;
}

/* -------------------------------------------- */
@media print {
    a:link {
        border-bottom: none !important;
        text-decoration: none !important;
        color: inherit !important;
    }

    a[href]:after {
        content: none !important;
    }

    hr {
        opacity: 1 !important;
    }
}

/* -------------------------------------------- */
@media screen, print {
    body {
        color: $text;
        padding-top: 7.5rem;

        @media (min-width: 768px) {
            padding-top: 4.5rem;
        }
    }

    .navbar {
        box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.3);
    }

    hr.narrow {
        margin-top: 0;
        margin-bottom: ($spacer * .5);
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-right: 0;
        margin-left: 0;
    }

    hr.narrow2 {
        margin-block-start: 0.38em;
        margin-block-end: 0.38em;
        margin-right: 0;
        margin-left: 0;
    }

    hr.dotted {
        border-bottom: 1px dotted;
    }

    .offcanvas {
        width: 250px;
    }

    .nav-icon {
        margin-right: 10px;
    }

    /* -------------------------------------------- */
    #toast-container>div {
        opacity: 1 !important;
    }

    /* -------------------------------------------- */
    table.myTable {
        box-sizing: border-box;
        border-collapse: collapse;
        font-size: .8rem;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    table.myTable thead th {
        padding: 0.2rem;
    }

    table.myTable tbody td {
        padding: 0.2rem;
    }

    /* -------------------------------------------- */
    .jstree-default .jstree-search {
        background-color: #e8eff7;
    }

    /* -------------------------------------------- */
    /* Display the error message for phone inputs */
    .iti--allow-dropdown~.invalid-feedback {
        display: block;
    }

    .iti {
        width: 100%;
    }

    .iti__arrow {
        border: none;
    }
    /* -------------------------------------------- */
}