// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Bootstrap Print
@import 'bootstrap-print-css/css/bootstrap-print.min.css';

// DataTables
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css';
@import 'datatables.net-select-bs5/css/select.bootstrap5.min.css';
@import 'datatables';

// Select2
@import 'select2/dist/css/select2.min.css';
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

// Custom
@import 'custom';